<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@700&display=swap" rel="stylesheet">>
    <title>Node.js project</title>
</head>
<body>
    <header class="header">
        <div class="header__body">
            <ul class="header__menu">
                <li><a href="/posts">Home</a></li>
                <li><a href="">Tags</a></li>
                <li><a href="">Categories</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        {{{ body }}}
    </div>
    <footer class="footer">
        <div class="footer__body">
            <ul class="footer__menu">
                <li><a href="/posts">Home</a></li>
                <li><a href="">Tags</a></li>
                <li><a href="">Categories</a></li>
            </ul>
            <p>All rights Reserved © 2021</p>
        </div>
    </footer>
</body>
</html>